[SIMILARITIES]

# Minimum lines of a similarity.
min-similarity-lines=15

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=150

[DESIGN]
# Maximum number of lines in a module.
max-module-lines=500

[MESSAGES CONTROL]
# Disable specific pylint warnings.
disable=broad-exception-caught
