global-exclude *.py[cod]
global-exclude *.editorconfig
include gen_data_model/conf/data_model_types.yaml
include gen_data_model/conf/gen_data_model.cfg
include gen_data_model/conf/gen_data_model.logo
include gen_data_model/conf/gen_data_model_util.cfg
include gen_data_model/conf/template/django_base_model.template
include gen_data_model/conf/template/django.template
include gen_data_model/conf/template/flask_base_model.template
include gen_data_model/conf/template/flask.template
include gen_data_model/conf/template/sqlalchemy_base_model.template
include gen_data_model/conf/template/sqlalchemy.template
include gen_data_model/__init__.py
include gen_data_model/log/gen_data_model.log
include gen_data_model/pro/__init__.py
include gen_data_model/pro/model_selector.py
include gen_data_model/pro/read_template.py
include gen_data_model/pro/write_template.py
include gen_data_model/run/gen_data_model_run.py